.portfolio {
    background-color: #fdf0e9;
    padding-top: 70px;
    padding-bottom: 180px;
}

.portfolio__container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.portfolio__container__options {
    width: 100%;
    max-width: 565px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio__container__options button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    font-weight: 400;
    font-family: "Epilogue";
}

.portfolio__container__options button:hover {
    color: #16cd53;
}

.portfolio__container__options .active {
    color: #16cd53;
}

.portfolio__container__optionsMobile {
    display: none;
}

.portfolio__container__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px; /* 1440px 25px */
    grid-row-gap: 30px;
    margin-bottom: 80px;
}

.portfolio__container__content__block {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 255px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 30px; /* 1440px 45px */
    border-radius: 6px;
    position: relative;
}

.portfolio__container__content__block::after {
    content: "";
    width: 99%;
    height: 99%;
    position: absolute;
    top: -7px;
    left: -7px;
    border: 7px solid #4fe24a;
    border-radius: 6px;
    display: none;
}

.portfolio__container__content__block_active::after {
    display: block;
}

.portfolio__container__content__block button {
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    font-weight: 400;
    font-family: "Epilogue";
    border-radius: 19px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
}

.portfolio__container__content__block h1 {
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Epilogue";
}

.portfolio__container__more {
    text-align: center;
}

.portfolio__container__more button {
    font-size: 14px;
    color: #391400;
    font-weight: 900;
    font-family: "Epilogue";
    background: #ffffff;
    border-radius: 6px;
    border: none;
    filter: drop-shadow(0px 3px 5px rgba(57,20,0,0.08));
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

@media screen and (max-width: 1440px) {
    .portfolio__container {
        max-width: 1170px;
    }

    .portfolio__container__content {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px; /* 1440px 25px */
    }
}

@media screen and (max-width: 1440px) {
    .portfolio__container {
        max-width: 870px;
    }

    .portfolio__container__content {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px; /* 1440px 25px */
    }
}

@media screen and (max-width: 1040px) {
    .portfolio__container__options {
        display: none;
    }

    .portfolio__container__optionsMobile {
        display: block;
        margin-bottom: 45px;
    }

    .portfolio__container__optionsMobile__container {
        position: relative;
        background-color: #fff;
        padding-top: 9px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 6px;
        border: 1px solid #f3d1bf;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .portfolio__container__optionsMobile__container p {
        font-size: 16px;
        line-height: 32px;
        color: #391400;
        font-weight: 400;
        font-family: "Epilogue";
    }

    .portfolio__container__optionsMobile__container__content {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding-top: 9px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 6px;
        border: 1px solid #f3d1bf;
        z-index: 1;
        box-sizing: border-box;
    }

    .portfolio__container__optionsMobile__container_active img {
        transform: rotate(180deg);
    }

    .portfolio__container__optionsMobile__container_active .portfolio__container__optionsMobile__container__content {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .portfolio__container {
        max-width: 670px;
    }

    .portfolio__container__content__block {
        padding-top: 200px;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__container {
        max-width: 470px;
    }

    .portfolio__container__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__container__content__block {
        padding-top: 200px;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 500px) {
    .portfolio__container {
        max-width: 330px;
    }

    .portfolio__container__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__container__content__block {
        padding-top: 200px;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }
}