.header {
    background-color: #28293e;
    padding-top: 15px;
    padding-bottom: 65px;
}

.header__container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.header__container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header__container__menu ul {
    width: 100%;
    max-width: 515px;
    display: flex;
    justify-content: space-between;
}

.header__container__menu ul li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Epilogue";
}

.header__container__menu button {
    border-radius: 6px;
    background: none;
    border: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Epilogue";
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.header__container__content {
    text-align: center;
}

.header__container__content h1 {
    font-size: 72px;
    letter-spacing: -2px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Epilogue";
    margin-bottom: 30px;
}

.header__container__content p {
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Epilogue";
}

@media screen and (max-width: 1440px) {
    .header__container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 1250px) {
    .header__container {
        max-width: 870px;
    }
}

@media screen and (max-width: 1040px) {
    .header {
        background-color: #28293e;
        padding-top: 8px;
        padding-bottom: 90px;
    }

    .header__container__menu {
        justify-content: center;
        margin-bottom: 90px;
    }

    .header__container__menu ul {
        display: none;
    }

    .header__container__menu button {
        display: none;
    }

    .header__container__content h1 {
        font-size: 56px;
        letter-spacing: -1px;
        line-height: 64px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    .header__container {
        max-width: 670px;
    }
}

@media screen and (max-width: 700px) {
    .header__container {
        max-width: 470px;
    }
}

@media screen and (max-width: 500px) {
    .header__container {
        max-width: 330px;
    }
}